In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import random as rand 
import sklearn as skl
import geopandas as gpd
import statsmodels.api as sm

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

from matplotlib.colors import ListedColormap

In [24]:
ames = pd.read_csv('../../Desktop/ISDS 577 Capstone Project/datasets/AmesHousing.csv')
ames

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [25]:
amesf = ames[['Total Bsmt SF', '1st Flr SF', '2nd Flr SF',  'Gr Liv Area', 'SalePrice']]
amesf

      Total Bsmt SF  1st Flr SF  2nd Flr SF  Gr Liv Area  SalePrice
0            1080.0        1656           0         1656     215000
1             882.0         896           0          896     105000
2            1329.0        1329           0         1329     172000
3            2110.0        2110           0         2110     244000
4             928.0         928         701         1629     189900
...             ...         ...         ...          ...        ...
2925         1003.0        1003           0         1003     142500
2926          864.0         902           0          902     131000
2927          912.0         970           0          970     132000
2928         1389.0        1389           0         1389     170000
2929          996.0         996        1004         2000     188000

[2930 rows x 5 columns]

In [26]:
amesf = amesf.dropna()
amesf

      Total Bsmt SF  1st Flr SF  2nd Flr SF  Gr Liv Area  SalePrice
0            1080.0        1656           0         1656     215000
1             882.0         896           0          896     105000
2            1329.0        1329           0         1329     172000
3            2110.0        2110           0         2110     244000
4             928.0         928         701         1629     189900
...             ...         ...         ...          ...        ...
2925         1003.0        1003           0         1003     142500
2926          864.0         902           0          902     131000
2927          912.0         970           0          970     132000
2928         1389.0        1389           0         1389     170000
2929          996.0         996        1004         2000     188000

[2929 rows x 5 columns]

How does square footage affect price per homes

In [27]:
X = amesf[['Total Bsmt SF', '1st Flr SF', '2nd Flr SF',  'Gr Liv Area']] 
y = amesf.SalePrice

In [35]:

X_sm = sm.add_constant(X)  

model = sm.OLS(y, X_sm)
results = model.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.632
Model:                            OLS   Adj. R-squared:                  0.631
Method:                 Least Squares   F-statistic:                     1255.
Date:                Tue, 07 May 2024   Prob (F-statistic):               0.00
Time:                        22:28:48   Log-Likelihood:                -35755.
No. Observations:                2929   AIC:                         7.152e+04
Df Residuals:                    2924   BIC:                         7.155e+04
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const         -2.172e+04   3136.111     -6.926      0.000   -2.79e+04   -1.56e+04
Total Bsmt SF    68.9016      3.396     20.288      0.000      62.242      75.561
1st Flr SF      142.2943     19.782      7.193      0.000     103.505     181.083
2nd Flr SF      139.4171     19.509      7.146      0.000     101.165     177.669
Gr Liv Area     -54.4727     19.356     -2.814      0.005     -92.426     -16.520
==============================================================================
Omnibus:                     1485.204   Durbin-Watson:                   1.302
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           105196.744
Skew:                          -1.558   Prob(JB):                         0.00
Kurtosis:                      32.194   Cond. No.                     8.03e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.03e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [29]:
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size = 0.4, random_state = 42)

In [30]:
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size = 0.5, random_state = 42)

In [38]:

X_strainm = sm.add_constant(X_train)  

model = sm.OLS(y_train, X_strainm)
results = model.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.662
Model:                            OLS   Adj. R-squared:                  0.662
Method:                 Least Squares   F-statistic:                     859.6
Date:                Tue, 07 May 2024   Prob (F-statistic):               0.00
Time:                        22:30:42   Log-Likelihood:                -21345.
No. Observations:                1757   AIC:                         4.270e+04
Df Residuals:                    1752   BIC:                         4.273e+04
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const         -2.831e+04   3874.175     -7.308      0.000   -3.59e+04   -2.07e+04
Total Bsmt SF    81.3542      4.216     19.297      0.000      73.086      89.623
1st Flr SF      148.4714     23.914      6.209      0.000     101.569     195.374
2nd Flr SF      149.8792     23.560      6.362      0.000     103.671     196.088
Gr Liv Area     -65.7076     23.346     -2.814      0.005    -111.497     -19.918
==============================================================================
Omnibus:                      261.501   Durbin-Watson:                   1.933
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3612.570
Skew:                          -0.143   Prob(JB):                         0.00
Kurtosis:                      10.019   Cond. No.                     8.09e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.09e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

Multiple Linear Regression

In [31]:
mlr = LinearRegression()
mlr.fit(X_train, y_train)

LinearRegression()

In [32]:
#Validation
mlryval_pred = mlr.predict(X_val)
mval_mse = mean_squared_error(y_val, mlryval_pred)
mval_r2 = r2_score(y_val, mlryval_pred)
print(f'Validation MSE: {mval_mse}')
print(f'Validation R^2: {mval_r2}')

Validation MSE: 2459030432.7493124
Validation R^2: 0.62402412260584

In [33]:
mlrytest_pred = mlr.predict(X_test)
mtest_mse = mean_squared_error(y_test, mlrytest_pred)
mtest_r2 = r2_score(y_test, mlrytest_pred)
print(f'Test MSE: {mtest_mse}')
print(f'Test R^2: {mtest_r2}')

Test MSE: 3104033734.302607
Test R^2: 0.5412143586478319

In [12]:
jX = amesf[['Total Bsmt SF', 'Gr Liv Area']] 
jy = amesf.SalePrice

In [36]:

X_sm = sm.add_constant(jX)  

model = sm.OLS(jy, X_sm)
results = model.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.625
Model:                            OLS   Adj. R-squared:                  0.625
Method:                 Least Squares   F-statistic:                     2443.
Date:                Tue, 07 May 2024   Prob (F-statistic):               0.00
Time:                        22:29:18   Log-Likelihood:                -35781.
No. Observations:                2929   AIC:                         7.157e+04
Df Residuals:                    2926   BIC:                         7.159e+04
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const         -2.045e+04   3027.908     -6.755      0.000   -2.64e+04   -1.45e+04
Total Bsmt SF    71.8722      2.290     31.385      0.000      67.382      76.363
Gr Liv Area      83.8072      1.996     41.983      0.000      79.893      87.721
==============================================================================
Omnibus:                     1449.827   Durbin-Watson:                   1.287
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            96217.148
Skew:                          -1.515   Prob(JB):                         0.00
Kurtosis:                      30.914   Cond. No.                     6.43e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.43e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [13]:
jX_train, jX_temp, jy_train, jy_temp = train_test_split(jX, jy, test_size = 0.4, random_state = 42)

In [14]:
jX_val, jX_test, jy_val, jy_test = train_test_split(jX_temp, jy_temp, test_size = 0.5, random_state = 42)

In [37]:

X_smtrain = sm.add_constant(jX_train)  

model = sm.OLS(jy_train, X_smtrain)
results = model.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              SalePrice   R-squared:                       0.655
Model:                            OLS   Adj. R-squared:                  0.654
Method:                 Least Squares   F-statistic:                     1662.
Date:                Tue, 07 May 2024   Prob (F-statistic):               0.00
Time:                        22:30:05   Log-Likelihood:                -21365.
No. Observations:                1757   AIC:                         4.274e+04
Df Residuals:                    1754   BIC:                         4.275e+04
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const         -2.785e+04   3779.180     -7.369      0.000   -3.53e+04   -2.04e+04
Total Bsmt SF    82.0105      2.888     28.393      0.000      76.345      87.676
Gr Liv Area      81.8408      2.398     34.135      0.000      77.138      86.543
==============================================================================
Omnibus:                      252.458   Durbin-Watson:                   1.935
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3260.130
Skew:                          -0.139   Prob(JB):                         0.00
Kurtosis:                       9.667   Cond. No.                     6.53e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.53e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [15]:
jmlr = LinearRegression()
jmlr.fit(jX_train, jy_train)

LinearRegression()

In [16]:
#Validation
jmlryval_pred = jmlr.predict(jX_val)
jmval_mse = mean_squared_error(jy_val, jmlryval_pred)
jmval_r2 = r2_score(jy_val, jmlryval_pred)
print(f'Validation MSE: {jmval_mse}')
print(f'Validation R^2: {jmval_r2}')

Validation MSE: 2428298852.6575074
Validation R^2: 0.6287228577800148

In [17]:
jmlrytest_pred = jmlr.predict(jX_test)
jmtest_mse = mean_squared_error(jy_test, jmlrytest_pred)
jmtest_r2 = r2_score(jy_test, jmlrytest_pred)
print(f'Test MSE: {jmtest_mse}')
print(f'Test R^2: {jmtest_r2}')

Test MSE: 3196269950.221635
Test R^2: 0.5275815649675739

In [18]:
jX_train, jX_tmp, jy_train, jy_tmp = train_test_split(jX, jy, test_size = 0.4, random_state = 42)

In [19]:
jtmpmlr = LinearRegression()
jtmpmlr.fit(jX_train, jy_train)

LinearRegression()

In [20]:
#Temp 60/40 split
jmlrytmp_pred = jtmpmlr.predict(jX_tmp)
jmtmp_mse = mean_squared_error(jy_tmp, jmlrytmp_pred)
jmtmp_r2 = r2_score(jy_tmp, jmlrytmp_pred)
print(f'Validation MSE: {jmtmp_mse}')
print(f'Validation R^2: {jmtmp_r2}')

Validation MSE: 2812284401.439571
Validation R^2: 0.5782400285300435